* {
    font-size: 40dp;
}
:root{
	background-color:#646464;
}
TextView {
	margin-top: 50vh;
	background-color: #323232;
	color: white;
	font-size: 50dp;
	padding: 50dp;
	border: 2px solid black;
}

DropdownList::ListBox::item {
	background-color:#323232;
	padding:50dp;
}
DropdownList::ListBox::item:hover {
	background-color:#646464;
	padding:50dp;
}
DropDownList {
	background-color:#646464;
	border: none;
	layout-height:wc;
}
PushButton {
	background-color: gray;
	color: white;
	border: 2px solid black;
}
PushButton:active {
	background: white;
	color: gray;
}
